<!--ユーザのログインフォーム画面-->

<%= form_with(scope: :sesstion, local: true,url: login_path) do |form| %>
  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>


  <div class="actions">
    <%= form.submit "ログイン", class: "btn-block btn-white"%>
  </div>
<% end %>





<!--以下ピクトグラムのコード-->
<!--<div class="users-new-wrapper">-->
<!--  <div class="cantainer">-->
<!--    <div class="row">-->
<!--      <div class="col-md-offset-4 col-md-4 users-new-container">-->
<!--        <h1 class="text-center text-white">Log in</h1>-->
<!--        <%= form_for :session, url: login_path do |f| %>-->
<!--        <div class="form-group">-->
<!--          <%= f.label :email, class: "text-white" %>-->
<!--          <%= f.text_field :email, class: "form-control" %>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <%= f.label :password, class: "text-white" %>-->
<!--          <%= f.password_field :password, class: "form-control" %>-->
<!--        </div>-->

<!--        <%= f.submit "ログイン", class: "btn-block btn-white" %>-->
<!--        <% end %>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->